# -------------------------
# Python
# -------------------------
__pycache__/

# Virtual environments
venv/
env/
.venv/
.env
.env.local
.env.*.local

# -------------------------
# Qdrant local storage
# -------------------------
models/files/
models/qdrant_db/
qdrant_db/
*/qdrant_db/

# -------------------------
# Uploaded documents
# -------------------------
backend/src/models/files/
backend/documents/test_documents/

# -------------------------
# Express
# -------------------------
# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS junk
.DS_Store
Thumbs.db